<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Module_6. 
body
	h1 Модуль 6 - Теория
	ul
		li Контекст исполнения this
		li this в стрелочных функциях
		li Методы функций bind\call\apply
		li Chaining
		li Closure
		li IIFE
	hr
	script(src='main.js')


		
